.all-steps {
    padding: 80px 0;
}

.all-steps__title {
    text-align: center;
    margin-bottom: 100px;
}

.all-steps__container {
    width: 100%;
    max-width: 700px;
    height: 1857px;
    background: #FFFFFF;
    box-shadow: 1px 12px 42px rgba(155, 164, 162, 0.12);
    border-radius: 4px;
    margin: 0 auto;
    padding: 40px;
}

.all-steps__form {}

.all-steps__subtitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #282B29;
    margin-bottom: 20px;
}

.all-steps__label>span {
    color: #757575;
}

.all-steps__rangeInput {
    width: 100%;
    max-width: 110px;
    height: 34px;
    background: #D6ECE3;
    border: 1px solid #377660;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 18px;
    line-height: 26px;
    color: #282B29;
}

.all-steps__range {
    min-height: 160px;
    margin-bottom: 50px;
    padding-top: 80px;
}

.all-steps__range-slider {}

.all-steps__radioBtnsBox {
    margin-bottom: 50px;
}

.all-steps__label {
    margin-bottom: 25px;
}

.all-steps__label:last-child {
    margin-bottom: 0;
}


/* RANGE SLIDER */

.irs--round .irs-handle {
    width: 35px !important;
    height: 35px !important;
    top: 19px !important;
    border: 5px solid #F8A846 !important;
    cursor: pointer;
}

.irs--round .irs-bar {
    height: 5px !important;
    background-color: #F8A846 !important;
}

.irs-grid {
    display: block;
    transform: translateY(20px) !important;
}

.irs-grid-text {
    font-size: 14px !important;
    line-height: 24px !important;
    color: #757575 !important;
}

.irs-grid-pol {
    display: none !important;
}

.irs-from,
.irs-to,
.irs-single {
    top: -45px !important;
    background-color: #F8A846 !important;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px !important;
    line-height: 26px !important;
    text-align: center;
    color: #FFFFFF !important;
}

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
    bottom: -20px !important;
    border: 10px solid transparent !important;
    border-top-color: #F8A846 !important;
    margin-left: -10px !important;
}