.get-your-rate-popup {
    display: none;
}

.get-your-rate-popup--active {
    display: block;
}

.get-your-rate-popup__wrapper {
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    background: rgba(117, 117, 117, 0.45);
}

.get-your-rate-popup__body {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 94%;
    max-width: 700px;
    min-height: 800px;
    background: #FFFFFF;
    box-shadow: 10px 20px 80px rgba(117, 117, 117, 0.2);
    border-radius: 4px;
    padding: 25px 40px;
    margin: 0 0 50px 0;
}

.get-your-rate-popup__close-icon {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #BABABA;
    cursor: pointer;
}

.get-your-rate-popup__title {
    text-align: center;
    margin-bottom: 60px;
}

.get-your-rate-popup__title>span {
    position: relative;
}

.get-your-rate-popup__title>span:after {
    content: url("../images/start-quote-decor.png");
    position: absolute;
    bottom: -30px;
    left: -25px;
}

.get-your-rate-popup__subtitle {
    margin-bottom: 25px;
}

.get-your-rate-popup__range {
    margin-bottom: 55px;
}

.get-your-rate-popup__range-slider {}

.get-your-rate-popup__radio-btns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.get-your-rate-popup__radio-btns--gender {
    justify-content: flex-start;
}

.get-your-rate-popup__radio-btns.get-your-rate-popup__radio-btns--gender>.get-your-rate-popup__label {
    margin-right: 80px;
}

.get-your-rate-popup__radio-btns.get-your-rate-popup__radio-btns--gender>.get-your-rate-popup__label:last-child {
    margin-right: 0;
}

.get-your-rate-popup__radio-btns>.get-your-rate-popup__label {
    margin-right: 15px;
}

.get-your-rate-popup__radio-btns>.get-your-rate-popup__label:last-child {
    margin-right: 0;
}

.get-your-rate-popup__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.get-your-rate-popup__item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.get-your-rate-popup__item:first-child {
    margin-right: 20px;
    position: relative;
}

.get-your-rate-popup__btn {
    margin: 0 auto;
}

.get-your-rate-popup__label {
    margin-bottom: 25px;
}

.get-your-rate-popup__select {
    width: 100% !important;
}

.get-your-rate-popup__input {
    position: relative;
    height: 56px;
    background-color: #FFFFFF;
    border: 1px solid #BABABA;
    border-radius: 4px;
    padding: 0 100px 0 15px;
    color: #000000;
}

.get-your-rate-popup__input::-webkit-outer-spin-button,
.get-your-rate-popup__input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.get-your-rate-popup__input-text {
    display: block;
    position: absolute;
    right: 20px;
    top: 65px;
    z-index: 10;
    color: #757575;
}

@media screen and (max-width: 767px) {
    .get-your-rate-popup__range {
        margin-top: 70px;
    }
    .get-your-rate-popup__body {
        top: 90px;
        padding: 25px 25px 25px 25px;
    }
    .get-your-rate-popup__title {
        text-align: left;
        font-size: 24px;
        line-height: 32px;
    }
    .get-your-rate-popup__title>span:after {
        bottom: -23px;
        left: -50px;
        transform: scale(0.60);
    }
    .get-your-rate-popup__row {
        flex-direction: column;
    }
    .get-your-rate-popup__item {
        margin-bottom: 50px;
    }
    .get-your-rate-popup__item:first-child {
        margin-right: 0;
    }
    .get-your-rate-popup__item:last-child {
        margin-bottom: 0;
    }
    .get-your-rate-popup__radio-btns>.get-your-rate-popup__label:last-child {
        margin-right: 15px;
    }
    .get-your-rate-popup__radio-btns--term>.get-your-rate-popup__label:last-child>.get-your-rate-popup__btn-icon {
        margin-right: 10px;
    }
}