.contact-details {}
.contact-details__title {margin: 70px 0 50px 0; text-align: center;}
.contact-details__form {}
.contact-details__container {
	width: 100%;
	max-width: 700px;
	margin: 0 auto 60px auto;
	min-height: 435px;
	background: #ffffff;
	box-shadow: 1px 12px 42px rgba(155, 164, 162, 0.12);
	border-radius: 4px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.contact-details__row {margin-bottom: 20px; display: flex;}
.contact-details__row:last-child {margin-bottom: 0;}
.contact-details__label {display: flex; flex-direction: column; margin-right: 20px; width: 100%;}
.contact-details__label:last-child {margin-right: 0;}
.contact-details__label > span {margin-bottom: 10px; color: #757575;}
.contact-details__input {
	width: 100%;
	max-width: 300px;
	height: 55px;
	background-color: #fff;
	border: 1px solid #bababa;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 15px 18px;
}
.contact-details__input--invalid,
.contact-details__input--invalid + button.dropdown-toggle {background-color: #d6ece3; border: 1px solid #377660;}
.contact-details__checkbox-label {display: flex; align-items: flex-start; color: #757575;}
.contact-details__checkbox-label > div {color: #757575; cursor: pointer;}
.contact-details__checkbox-label > input {display: none;}
.contact-details__checkbox-label > span {
	display: block;
	flex: 0 0 20px;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid #bababa;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	margin: 6px 10px 0 0;
}
.contact-details__checkbox-label > input.contact-details__input--invalid + span {background-color: #d6ece3; border-color: #377660;}
.contact-details__checkbox-label > input:checked + span {background-image: url(../img/check.svg);}
.contact-details__btn {margin: 0 auto;}
.bootstrap-select {width: 100% !important;}

@media screen and (max-width: 767px) {
	.main-wrapp {padding-top: 105px; padding-bottom: 50px;}
	.contact-details__row {flex-direction: column; margin-bottom: 0;}
	.contact-details__input {max-width: 100%;}
	.contact-details__label {margin-right: 0; margin-bottom: 20px;}
	.contact-details__container {padding: 25px;}
	.contact-details__title {margin: 40px 0 30px 0;}
}

input[aria-invalid="true"],
.input--invalid,
.input--invalid + button.dropdown-toggle {background-color: #d6ece3; border: 1px solid #377660;}
.checkbox-label > input.input--invalid + span {background-color: #d6ece3; border-color: #377660;}

.err-mess {color: #377660; text-align: center; margin-bottom: 15px;}

