/* GET STARTED */

.get-started {
    padding: 100px 0;
    text-align: center;
    position: relative;
}

.get-started:before {
    content: url("../images/get-started-decor-1.png");
    position: absolute;
    left: -200px;
    top: 30px;
    display: block;
}

.get-started:after {
    content: url("../images/get-started-decor-2.png");
    position: absolute;
    right: -400px;
    top: 100px;
    display: block;
}

.get-started__title {
    margin-bottom: 16px;
    color: #FFFFFF;
}

.get-started__subtitle {
    margin-bottom: 30px;
    color: #AFC8BF;
}

.get-started__btn {
    margin: 0 auto;
    background: #FFFFFF;
    color: #282B29;
}

.get-started__btn:hover {
    color: #282B29;
}

.get-started__btn:after {
    content: url("../images/arrow-right-dark.png");
}

@media screen and (max-width: 1820px) {
    .get-started:before {
        content: none;
    }
    .get-started:after {
        content: none;
    }
}

@media screen and (max-width: 719px) {
    .get-started {
        padding: 80px 0;
    }
    .get-started__title {
        font-size: 32px;
        line-height: 40px;
    }
    .get-started__subtitle {
        font-size: 18px;
        line-height: 26px;
    }
}