/* QUESTIONS */

.questions {
    padding: 100px 0;
}

.questions__title {
    margin-bottom: 80px;
    text-align: center;
}

.questions__item {
    position: relative;
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 25px 35px;
    font-size: 20px;
    cursor: pointer;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questions__item:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/arrow-down.png") no-repeat 9px 12px;
    line-height: 30px;
    position: absolute;
    right: 35px;
    top: 25px;
    border: 1px solid #E4E4E4;
    cursor: pointer;
    transition: all .2s ease;
}

.questions__item--active:after {
    background-color: #339E75;
    transition: all .2s ease;
    background: #339E75 url("../images/arrow-down-white.png") no-repeat 9px 10px;
}

.questions__item--active>.questions__card-title {
    margin-bottom: 15px;
}

.questions__card-body {
    display: none;
}

.questions__card-text {
    color: #757575;
}

.questions__card-text>p {
    margin-bottom: 15px;
}

.questions__item--active>.questions__card-body {
    display: block;
}

@media screen and (max-width: 719px) {
    .questions__title {
        font-size: 32px;
        line-height: 40px;
    }
    .questions__card-title {
        font-size: 18px;
        line-height: 26px;
    }
    .questions__card-text {
        font-size: 14px;
        line-height: 24px;
        margin-right: -80px;
    }
}