.applynow-form-section.rate-calc.v2.center .results {margin-left: auto; margin-right: auto;}
.applynow-form-section.rate-calc.v2.center .results .inner {margin-bottom: 24px; margin-top: 60px;}
.applynow-form-section.rate-calc.v2.center .results .quote-results-table {margin-left: auto; margin-right: auto;}
.applynow-form-section.rate-calc.v2 .rate-calc-desc {font-size: 18px; font-weight: 600 !important; line-height: 26px;}
.applynow-form-section.rate-calc.v2 .rate-calc-desc .gt {color: #339E75;}
.applynow-form-section.rate-calc.v2 .rate-calc-desc .bt {color: #288497;}
.applynow-form-section.rate-calc.v2 .form-wrap {margin-top: 60px;}
.applynow-form-section.rate-calc.v2 .desc {color: #757575; font-size: 20px;}
.applynow-form-section.rate-calc.v2 .desc span {color: #282B29; font-weight: 500;}
.quote-results-table .table-wrap {overflow: auto; width: 100%;}
.plans-table {border-collapse: separate; border-spacing: 0; border: 1px solid #BABABA; border-radius: 4px; overflow: hidden; width: 100%;}
.plans-table th,
.plans-table td {white-space: nowrap; background-color: #fff; padding-left: 32px; line-height: 1; text-align: right; border-width: 0 1px 1px 0; border-color: #E4E4E4; border-style: solid; cursor: default;}
.plans-table td {padding-top: 12px; padding-right: 16px; padding-bottom: 12px; width: 20%;}
.plans-table th {padding-top: 16px; padding-right: 16px; padding-bottom: 16px; color: #757575; font-size: 14px; text-align: left; font-weight: 400;}
.plans-table th.sticky-col {text-align: right;}
.plans-table [data-sign]:before {content: attr(data-sign); float: left;}
.plans-table [data-sign=""],
.plans-table .sticky-col[data-sign]:before {color: #757575;}
.plans-table .sticky-col {position: sticky; position: -webkit-sticky; left: 0; box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.1); width: 170px;}
.plans-table tr:hover td {background-color: #FCF9F3 !important; color: #333 !important;}


.charts-by-age__form {
	width: 100%;
	max-width: 100%;
	background: #FFFFFF;
	box-shadow: 1px 12px 42px rgba(155, 164, 162, 0.12);
	border-radius: 4px;
	padding: 40px;
}

.charts-by-age__subtitle {
	text-align: center;
	margin-bottom: 40px;
}

.charts-by-age__container {
	/*display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;*/
	margin-bottom: 30px;
}

.charts-by-age__label {
	/*display: flex;
	flex-direction: column;
	margin-right: 20px;*/
}

.charts-by-age__label:last-child {
	margin-right: 0;
}

.charts-by-age__label>span {
	margin-bottom: 10px;
	color: #757575;
}

.charts-by-age__label:first-child {
	position: relative;
}

.charts-by-age__input {
	width: 230px;
	height: 56px;
	background-color: #FFFFFF;
	border: 1px solid #BABABA;
	border-radius: 4px;
	padding: 0 100px 0 15px;
	color: #000000;
}

.charts-by-age__input::-webkit-outer-spin-button,
.charts-by-age__input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}

.charts-by-age__input-text {
	display: block;
	position: absolute;
	bottom: 5px;
	right: 15px;
	z-index: 1;
	color: #757575;
}

.charts-by-age__input:after {
	content: "years old";
}

.charts-by-age__select {}

.charts-by-age__decor-line {
	width: 100%;
	height: 1px;
	background-color: #E4E4E4;
	margin-bottom: 30px;
}

.charts-by-age__btn {
	margin: 0 auto;
}
