.online-app-step-2__form-box {
    width: 100%;
    max-width: 700px;
    min-height: 1300px;
    background: #FFFFFF;
    box-shadow: 1px 12px 42px rgba(155, 164, 162, 0.12);
    border-radius: 4px;
    padding: 40px;
    margin: 0 auto 60px auto;
}

.online-app-step-2__title {
    text-align: center;
    margin-bottom: 30px;
}

.online-app-step-2__subtitle {
    margin-bottom: 15px;
}

.online-app-step-2__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.online-app-step-2__row:last-child {
    margin-bottom: 0;
}

.online-app-step-2__col {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 100%;
}

.online-app-step-2__col:last-child {
    margin-right: 0;
}

.online-app-step-2__label {
    width: 100%;
    margin-right: 20px;
}

.online-app-step-2__label:last-child {
    margin-right: 0;
}

.online-app-step-2__col>.online-app-step-2__label {
    margin-bottom: 0;
}

.online-app-step-2__select {
    width: 100% !important;
    height: 55px !important;
}

.online-app-step-2__input {
    max-width: 100%;
}

.online-app-step-1__btns {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.online-app-step-1-btn:first-child {
    margin-right: 20px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    color: #282B29;
}

.online-app-step-1-btn:first-child:after {
    content: none;
}

.online-app-step-1-btn:first-child:before {
    content: url("../images/arrow-right-dark.png");
    transform: rotate(180deg);
    margin-right: 10px;
    margin-top: -6px;
}

.online-app-step-2__note {
    color: #757575;
}


/* SELECT */

.bootstrap-select>.dropdown-toggle {
    height: 55px;
}

.bootstrap-select .dropdown-toggle .filter-option {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .online-app-step-2__form-box {
        padding: 25px;
    }
    .online-app-step-2__row {
        flex-direction: column;
    }
}