.online-app-questions {}
.online-app-questions__form {}
.online-app-questions__box {width: 100%; max-width: 700px; min-height: 620px; background: #fff; box-shadow: 1px 12px 42px rgba(155, 164, 162, 0.12); border-radius: 4px; margin: 0 auto 60px auto; padding: 40px;}
.online-app-questions__title {text-align: center; margin-bottom: 30px;}
.online-app-questions__item {display: flex; flex-direction: column; position: relative; margin-bottom: 40px;}
.online-app-questions__item:last-child {margin-bottom: 0;}
.online-app-questions__text {margin-bottom: 25px;}
.online-app-questions__btns {display: flex; padding-left: 47px;}
.online-app-questions__form-btns {display: flex; flex-flow: row wrap; justify-content: center; margin-bottom: 30px;}
.online-app-questions__form-btn:disabled {background-color: #ccc;}
.online-app-questions__form-btn:first-child {background: #fff; border: 1px solid #e4e4e4; color: #282b29; margin-right: 20px;}
.online-app-questions__form-btn:first-child:before {content: url("../../common/images/arrow-left-dark.png"); left: 0; margin-right: 10px; transform: translateY(3px);}
.online-app-questions__form-btn:first-child:after {content: none;}
.online-app-questions__form-btn:last-child {}

.online-app-questions__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 45px;
	border-radius: 4px;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #fff;
	color: #282b29;
	margin-right: 10px;
	border: 1px solid #e4e4e4;
}
.online-app-questions__btn.active {background-color: #339e75; color: #fff; border-color: #339e75;}
.online-app-questions__btn:hover {text-decoration: none; background-color: #eee; color: #282b29;}
.online-app-questions__btn.active:hover {background-color: #3dbf8d; color: #fff; border-color: #3dbf8d;}

.online-app-questions__item-header {display: flex; align-items: flex-start;}
.online-app-questions__item-num {display: flex; justify-content: center; align-items: center; flex-shrink: 0; flex-basis: 32px; height: 32px; border-radius: 50%; background: #e4e4e4; margin-right: 15px; font-size: 16px; line-height: 24px; color: #757575;}
.main-questions .sub-question:not(.active) > .buttons {display: none;}
.main-questions .sub-question.active > .buttons {}
.main-questions .sub-question.active .text {color: #000;}
.main-questions .sub-question.answered .q-num {color: #fff; background-color: #339e75;}
.main-questions .sub-question.answered .reflex-questions {display: none;}
.main-questions .sub-question.answered {cursor: pointer;}

.main-questions .reflex-questions:not(:empty) {padding-left: 47px; margin-top: 15px;}
.main-questions .online-app-questions__fields {padding-left: 47px;}
.main-questions .online-app-questions__fields .lbl {margin-bottom: 5px;}
.main-questions .online-app-questions__fields .input {margin-bottom: 15px;}
.main-questions table.avia {border: 1px solid #ccc; border-collapse: collapse; margin: 0 0 10px; padding: 0; table-layout: fixed; max-width: 100%;}
.main-questions table.avia tr {border: 1px solid #ddd; padding: .35em;}
.main-questions table.avia thead tr {background: #f8f8f8;}
.main-questions table.avia th,
.main-questions table.avia td {padding: .525em .725em; font-size: 15px;}
.main-questions table.avia th {color: #999;}
.main-questions table.avia td {}
.main-questions table.avia input[type="text"] {background-color: #a2d2dd; border: 0; border-radius: 6px; color: #fff; width: 100%; padding: 3px 12px; text-align: left; font-size: 15px; max-width: 100px; font-weight: normal;}
.main-questions table.avia input[type="text"][name^="cdeath"] {max-width: 200px;}
.main-questions table.avia input[type="text"]:disabled {background-color: #ccc;}
.main-questions table.avia input[type="radio"] {display: inherit;}

@media screen and (max-width: 767px) {
	.online-app-questions__box {padding: 20px;}
	.online-app-questions__item-header {flex-direction: column;}
	.online-app-questions__item-num {margin-right: 0; margin-bottom: 15px;}
	.online-app-questions__btns {justify-content: space-between; padding-left: 0;}
	.online-app-questions__btn {width: 135px;}
	.online-app-questions__item-num {width: 32px;}
	.online-app-questions__form-btn {height: 60px;}
	.online-app-questions__form-btn:first-child {margin-right: 15px;}
}