*:focus,
*:active {outline: 0 none !important; /*box-shadow: none !important;*/}

.trans_me,
.trans_all,
.trans_all:before,
.trans_all:after,
.trans_all *,
.trans_all *:before,
.trans_all *:after {outline:none;transition:all .2s ease;-moz-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;}

.loader {visibility: hidden; opacity: 0; position: absolute; z-index: 5; left: 0; right: 0; top: 0; bottom: 0; background: rgba(255, 255, 255, 0.8) url(../images/loader_tr.gif) no-repeat center;}
.loader.show {visibility: visible; opacity: 1;}
.js_data_loader {background-color: rgba(255, 255, 255, 0.7); position: absolute; z-index: 1; left: 0; top: 0; right: 0; bottom: 0; border-radius: 5px;}
.js_data_loader.fixed {position: fixed;}
.js_data_loader:not(.show) {display: none;}

form input[type="hidden"] {display: none;}

.main-btn {transition: all 0.2s;}
.main-btn:hover {color: inherit; background-color: #3dbf8d;}

.header {min-height: auto; height: 105px;}
.header--empty .header__imgWrapp {display: flex;}
.header--empty .header__imgBox > img {font-size: 0; width: auto;}
@media screen and (max-width: 767px) {
	.header--empty .header__imgBox > img {width: auto; height: 20px;}
}
