.rates-chart-by-age .custom-tabs {border-bottom-color: #e4e4e4; flex-wrap: nowrap;}
.rates-chart-by-age .custom-tabs .nav-item {width: 100%; max-width: 350px;}
.rates-chart-by-age .custom-tabs .nav-item .nav-link {color: #bababa; border-bottom-width: 2px; font-weight: 600; font-size: 18px; line-height: 24px; text-align: center; letter-spacing: 1px; text-transform: uppercase;}
.rates-chart-by-age .custom-tabs .nav-item.show .nav-link,
.rates-chart-by-age .custom-tabs .nav-link.active {color: #339e75; background-color: transparent; border-color: transparent transparent #339e75;}
.rates-chart-by-age .custom-tabs .nav-item .nav-link:focus,
.rates-chart-by-age .custom-tabs .nav-item .nav-link:hover {border-color: transparent transparent #bababa;}
.rates-chart-by-age .custom-tabs .nav-item.show .nav-link:focus,
.rates-chart-by-age .custom-tabs .nav-item.show .nav-link:hover,
.rates-chart-by-age .custom-tabs .nav-item .nav-link.active:focus,
.rates-chart-by-age .custom-tabs .nav-item .nav-link.active:hover {border-color: transparent transparent #339e75;}

.rates-chart-by-age .custom-tab-content {margin: 24px 0; padding: 24px 0; background-color: #fff; box-shadow: 1px 12px 42px rgba(155, 164, 162, 0.12); border-radius: 4px;}

.rates-chart-by-age .custom-age-tabs {border: 0; flex-wrap: nowrap;}
.rates-chart-by-age .custom-age-tabs .nav-item {width: auto; position: relative;}

.rates-chart-by-age .custom-age-tabs .nav-item .nav-link {color: #bababa; border: 0 none; padding: 0 9px; position: relative;}
.rates-chart-by-age .custom-age-tabs .nav-item .nav-link:before,
.rates-chart-by-age .custom-age-tabs .nav-item .nav-link:after {content: ""; position: absolute; z-index: 1; bottom: 0; display: block; width: 9px; height: 8px; background-color: transparent;}
.rates-chart-by-age .custom-age-tabs .nav-item .nav-link:before {left: 0;}
.rates-chart-by-age .custom-age-tabs .nav-item .nav-link:after {right: 0;}

.rates-chart-by-age .custom-age-tabs .nav-item .nav-link span {display: block; padding: 16px 24px; border-radius: 20px 20px 0 0; position: relative;}
.rates-chart-by-age .custom-age-tabs .nav-item .nav-link span:before,
.rates-chart-by-age .custom-age-tabs .nav-item .nav-link span:after {content: ""; position: absolute; z-index: 2; bottom: 1px; display: block; width: 9px; height: 9px; background-color: #fff;}
.rates-chart-by-age .custom-age-tabs .nav-item .nav-link span:before {left: -9px; border-radius: 0 0 20px 0;}
.rates-chart-by-age .custom-age-tabs .nav-item .nav-link span:after {right: -9px; border-radius: 0 0 0 20px;}
.rates-chart-by-age .custom-age-tabs .nav-item.show .nav-link span,
.rates-chart-by-age .custom-age-tabs .nav-link.active span {color: #000; background-color: #FEEEDA; border-color: transparent;}

.rates-chart-by-age .custom-age-tabs .nav-item.show .nav-link:before,
.rates-chart-by-age .custom-age-tabs .nav-item.show .nav-link:after,
.rates-chart-by-age .custom-age-tabs .nav-link.active:before,
.rates-chart-by-age .custom-age-tabs .nav-link.active:after {background-color: #FEEEDA;}

.rates-chart-by-age .custom-age-tabs .nav-item .nav-link:focus,
.rates-chart-by-age .custom-age-tabs .nav-item .nav-link:hover {border-color: transparent; color: #000;}

table.ages-table {width: 100%; background-color: #fff;}
table.ages-table thead tr {display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 12px 30px; border-bottom: 1px solid #FEEEDA; background-color: #FEEEDA;}
table.ages-table thead tr th {color: #757575; font-size: 14px; line-height: 24px; font-weight: normal;}
table.ages-table tbody tr {display: flex; justify-content: space-between; align-items: center; padding: 12px 0; margin: 0 30px; border-bottom: 1px solid #f2f2f2;}
table.ages-table tbody tr:last-child {border: 0;}
table.ages-table tbody tr td {color: #282B29; font-size: 18px; line-height: 26px; font-weight: normal;}

.rate-chart-by-age-desc {color: #757575;}

.invisible-tabs {}

.tabs__arrow {display: flex; flex-flow: column nowrap; align-items: center;}
.tabs__arrow span {color: #339E75; margin-top: 12px;}
.tabs__arrow:hover,
.tabs__arrow span:hover {text-decoration: none;}
.tabs__arrow img {max-width: 30px;}
.tabs__arrow--left:hover img {transform: translateX(-10px);}
.tabs__arrow--right:hover img {transform: translateX(10px);}

@media all and (max-width: 1200px){
	.rates-chart-by-age .custom-age-tabs .nav-item .nav-link {font-size: 14px;}
	.rates-chart-by-age .custom-age-tabs .nav-item .nav-link span {padding: 10px 12px;}
}
@media all and (max-width: 767px){
	.tabs__arrow {display: none;}
	.rates-chart-by-age .custom-age-tabs .nav-item .nav-link {font-size: 14px;}
	.rates-chart-by-age .custom-age-tabs .nav-item .nav-link span {padding: 10px 12px;}
}
