.overal-health__title {
    text-align: center;
    margin: 60px 0;
}

.overal-health__form {}

.overal-health__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
}

.overal-health__item {
    width: 100%;
    max-width: 340px;
    height: 340px;
    background: #FFFFFF;
    box-shadow: 1px 12px 42px rgba(155, 164, 162, 0.12);
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overal-health__icon {
    display: block;
    width: 160px;
    height: 160px;
    margin-bottom: 55px;
}

.overal-health__box {
    display: flex;
}

.overal-health__col {
    width: 100%;
    max-width: 360px;
}

.overal-health__subtitle {
    margin-bottom: 25px;
}

.overal-health__radio-btns {
    display: flex;
    align-items: center;
}

.overal-health__label {
    margin-right: 40px;
}

.overal-health__label:last-child {
    margin-right: 0;
}

.overal-health__btn {
    margin: 60px auto 0 auto;
}

@media screen and (max-width: 1023px) {
    .overal-health__container {
        flex-direction: column;
        align-items: center;
    }
    .overal-health__item {
        margin-bottom: 15px;
    }
    .overal-health__box {
        flex-direction: column;
        align-items: center;
    }
    .overal-health__col {
        max-width: 100%;
        margin-bottom: 50px;
    }
    .overal-health__radio-btns>.overal-health__label {
        width: 200px;
    }
}

@media screen and (max-width: 719px) {
    .overal-health__title {
        margin: 40px 0 30px 0;
    }
}