.fs-author {}
.fs-author__header {display: flex; justify-content: space-between; align-items: flex-end; flex-wrap: wrap; margin-bottom: 30px; position: relative;}
.fs-author__header:after {content: ""; display: block; width: 100%; height: 1px; background-color: #E4E4E4; position: absolute; bottom: -15px; left: 0;}
.fs-author__col:first-child {display: flex; align-items: center;}
.fs-author__avatar {margin-right: 15px;}
.fs-author__user-info {display: flex; flex-direction: column;}
.fs-author .button-small {color: #339E75;}
@media screen and (max-width: 550px) {
	.fs-author__header {flex-direction: column; align-items: flex-start;}
	.fs-author__col:first-child {margin-bottom: 30px;}
}
