.best-companies__list-body {
    padding: 20px 100px;
}

.best-companies__list {
    max-height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.best-companies__item {
    height: 18px;
    margin-bottom: 30px;
    color: #339E75;
}


/* COMPANIES SECTION */

.companies {
    padding: 100px 0;
}

.companies__item {
    margin-bottom: 15px;
}

.companies__item:last-child {
    margin-bottom: 0;
}

.company {
    width: 100%;
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 1px 12px 42px rgba(155, 164, 162, 0.12);
    border-radius: 4px;
    padding: 40px;
}

.company__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.company__header-column {
    margin-right: 30px;
}

.company__header-column:last-child {
    margin-right: 0;
}

.company__header-column:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.company__logo-box {
    width: 250px;
    height: 105px;
    background-color: #E4E4E4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company__logo {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.company__name {
    margin-bottom: 5px;
}

.company__rating-label {
    margin-bottom: 5px;
    color: #757575;
}

.company__rating-stars>img {
    margin-right: 4px;
    cursor: pointer;
}

.company__link {
    width: 160px;
    height: 46px;
}

.company__link:first-child {
    margin-bottom: 12px;
}

.company__link:last-child {
    background-color: #ffffff;
    border: 1px solid #E4E4E4;
    color: #282B29;
}

.company__link:after {
    content: none;
}

.company__decor-line {
    width: 100%;
    height: 1px;
    background-color: #E4E4E4;
}

.company__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 25px 0;
}

.company__col {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.company__col:first-child {
    width: 30%;
}

.company__col:last-child {
    width: 20%;
    margin-right: 0;
}

.company__label {
    color: #757575;
    margin-bottom: 5px;
}

.company__value {}

.company__footer {
    padding: 30px 0;
    max-height: 150px;
    overflow: hidden;
    position: relative;
}

#shadow {
    content: "";
    display: block;
    height: 40px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 15%);
    z-index: 10;
    border: 1px solid #000;
    margin-top: -30px;
}

.company__footer-title {
    margin-bottom: 15px;
}

.company__content {
    margin-bottom: 20px;
    color: #757575;
}

.company__content:last-child {
    margin-bottom: 0;
}

.company__footer-btn {
    width: 60px;
    text-align: center;
    margin-left: auto;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #339E75;
    font-weight: 600;
    cursor: pointer;
}

.choose-company {
    padding: 100px 0;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.choose-company__title {
    margin-bottom: 60px;
    text-align: center;
}

.choose-company__box {
    margin-bottom: 60px;
}

.choose-company__subtitle {
    margin-bottom: 25px;
}

.choose-company__text {
    margin-bottom: 15px;
    color: #757575;
}

.choose-company__list {
    padding: 20px 0 20px 50px;
    color: #757575;
}

.choose-company__list>li {
    margin-bottom: 5px;
    list-style: disc;
}

.choose-company__list>li:last-child {
    margin-bottom: 0;
}

.choose-company__chart {
    width: 100%;
    max-width: 700px;
    height: 430px;
    margin: 0 auto 60px auto;
    border: 1px dashed #000;
}