*:focus,
*:active {outline: 0 none !important; /*box-shadow: none !important;*/}

.trans_me,
.trans_all,
.trans_all:before,
.trans_all:after,
.trans_all *,
.trans_all *:before,
.trans_all *:after {outline:none;transition:all .2s ease;-moz-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;}

.loader {visibility: hidden; opacity: 0; position: absolute; z-index: 5; left: 0; right: 0; top: 0; bottom: 0; background: rgba(255, 255, 255, 0.8) url(../images/loader_tr.gif) no-repeat center;}
.loader.show {visibility: visible; opacity: 1;}
.js_data_loader {background-color: rgba(255, 255, 255, 0.7); position: absolute; z-index: 1; left: 0; top: 0; right: 0; bottom: 0; border-radius: 5px;}
.js_data_loader.fixed {position: fixed;}
.js_data_loader:not(.show) {display: none;}

.main-wrapp .wrapp:not(.first-section) {padding: 30px 0; max-width: 880px; width: 100%; margin: 0 auto;}
.main-wrapp.bg2 .wrapp,
.main-wrapp.bg3 .wrapp,
.main-wrapp.bg4 .wrapp {padding: 60px 0;}
.main-first-screen {padding-bottom: 15px;}
.fs-author__header {margin-bottom: 0 !important;}
.top__btn {margin-top: 30px;}
.bg3 .top__btn {color: #fff;}
.bg3 .top__btn:after { content: url("../../common/images/arrow-right-ffffff.svg");}

form input[type="hidden"] {display: none;}

h1,
h2,
h3,
h4,
h5,
h6 {font-family: Poppins; font-style: normal; font-weight: bold; color: #282B29;}
h1 {margin-bottom: 40px; font-size: 28px; line-height: 32px;}
h2 {margin-bottom: 30px; font-size: 24px; line-height: 32px;}
h3 {margin-bottom: 15px; font-size: 20px; line-height: 28px;}
h1.heading-0 {width: 100%; max-width: 700px; margin: 20px auto; text-align: center;}
p,
ul:not(.breadcrumbs__list) {font-family: 'Work Sans'; font-style: normal; font-weight: normal; color: #757575; font-size: 18px; line-height: 26px;}
ul:not(.breadcrumbs__list) {list-style: initial; padding-left: 30px;}
p,
li:not(.breadcrumbs__item) {margin-bottom: 15px;}
li:not(.breadcrumbs__item) p {margin-bottom: 2px;}
p:last-child {margin-bottom: 0;}
a {color: #339E75;}
a:hover {text-decoration: underline;}

.bg2, .bg2 h1, .bg2 h2, .bg2 h3, .bg2 h4, .bg2 h5, .bg2 h6,
.bg3, .bg3 h1, .bg3 h2, .bg3 h3, .bg3 h4, .bg3 h5, .bg3 h6,
.bg4, .bg4 h1, .bg4 h2, .bg4 h3, .bg4 h4, .bg4 h5, .bg4 h6 {color: #fff;}
.bg2 li, .bg3 li, .bg4 li,
.bg2 p, .bg3 p, .bg4 p {color: #eee;}
.bg2 a, .bg3 a, .bg4 a {color: #F8A846;}

img {margin: 0 0 15px 0;}
img.float-right,
img.float-xs-right,
img.float-sm-right,
img.float-md-right,
img.float-lg-right {margin: 0 0 15px 15px;}
img.float-left,
img.float-xs-left,
img.float-sm-left,
img.float-md-left,
img.float-lg-left {margin: 0 15px 15px 0;}

.main-btn {transition: all 0.2s;}
.main-btn:hover {color: inherit; background-color: #3dbf8d;}

.header {min-height: auto; height: 105px;}
.header--empty .header__imgWrapp {display: flex;}
.header--empty .header__imgBox > img {font-size: 0; width: auto;}
@media screen and (max-width: 767px) {
	.header--empty .header__imgBox > img {width: auto; height: 20px;}
}

