.main-first-screen {padding: 60px 0; width: 100%; max-width: 880px; margin: 0 auto;}
.main-first-screen__title {width: 100%; max-width: 700px; margin: 20px auto; text-align: center;}
.main-first-screen__subtitle {text-align: center; color: #757575; width: 100%; max-width: 550px; margin: 0 auto 75px auto;}
.main-first-screen__advice {}
.fs-advice__body {padding-bottom: 40px;}
.fs-advice__text {color: #757575; margin-bottom: 20px;}
.fs-advice__text:last-child {margin-bottom: 0;}
.main-first-screen__info {padding-bottom: 25px;}
.main-first-screen__top-title {color: #F87146; text-align: center;}
@media all and (max-width: 767px){
    .main-first-screen {}
    .main-first-screen__top-title {font-size: 14px; line-height: 20px;}
    .main-first-screen__title {font-size: 32px; line-height: 40px;}
}

