* {box-sizing: border-box;}
body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #282B29;
    min-height: 100vh;
    background-color: #FCF9F3;
}

body.modal-opened {overflow: hidden; height: 100vh;}
@media all and (max-width: 767px){
    body {margin-top: 90px;}
    body.scrolled {/*margin-top: 60px;*/}
}
/* main {
    min-height: calc(100vh - 105px - 360px - 80px);
} */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 0;
    padding: 0;
}

hr {
    background: #E4E4E4;
}

*:focus,
*:active {outline: 0 none !important; /*box-shadow: none !important;*/}

.trans_me,
.trans_all,
.trans_all:before,
.trans_all:after,
.trans_all *,
.trans_all *:before,
.trans_all *:after {outline:none;transition:all .2s ease;-moz-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;}

.max-w-1400 {max-width: 1400px;}

.loader {visibility: hidden; opacity: 0; position: absolute; z-index: 5; left: 0; right: 0; top: 0; bottom: 0; background: rgba(255, 255, 255, 0.8) url(../images/loader2.gif) no-repeat center;}
.loader.bg1 {background-color: rgba(252, 249, 243, 0.8);}
.loader.show {visibility: visible; opacity: 1;}
.js_data_loader {background-color: rgba(255, 255, 255, 0.7); position: absolute; z-index: 1; left: 0; top: 0; right: 0; bottom: 0; border-radius: 5px;}
.js_data_loader.fixed {position: fixed;}
.js_data_loader:not(.show) {display: none;}

.main-wrapp {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapp {
    max-width: 1060px;
    margin: 0 auto;
}

form input[type="hidden"] {display: none;}

.bg0 {background-color: #FFFFFF;}
.bg1 {background-color: #FCF9F3;}
.bg2 {background-color: #3D413E;}
.bg3 {background-color: #377660;}
.bg4 {background-color: #FABE75;}

/* TEXT STYLE */

.fontBodyL,
.fontBodyM,
.fontBodyS {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: normal;
    color: #282B29;
}

.fontBodyL {
    font-size: 20px;
    line-height: 32px;
}

.fontBodyM {
    font-size: 18px;
    line-height: 26px;
}

.fontBodyS {
    font-size: 14px;
    line-height: 24px;
}


/* TITLES STYLE */

.main-title,
.sub-title-1,
.sub-title-2,
.sub-title-3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    color: #282B29;
}

.main-title {
    font-size: 18px;
    line-height: 26px;
}

.sub-title-1 {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.sub-title-2 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sub-title-3 {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}


/* HEADINGS */

.heading-0,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    color: #282B29;
}

.heading-0 {
    font-size: 56px;
    line-height: 66px;
    text-transform: capitalize;
    font-weight: 700;
}

.heading-1 {
    font-size: 48px;
    line-height: 56px;
}

.heading-2 {
    font-size: 40px;
    line-height: 48px;
    text-transform: capitalize;
}

.heading-3 {
    font-size: 36px;
    line-height: 40px;
}

.heading-4 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

.heading-5 {
    font-size: 24px;
    line-height: 32px;
}

.heading-6 {
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
}

.heading-7 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-transform: capitalize;
}


/* BUTTONS */

.button-l,
.button-big,
.button-small {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    color: #282B29;
    text-decoration: none;
    cursor: pointer;
}

.button-l:hover,
.button-big:hover,
.button-small:hover {text-decoration: underline;}
.button-big[role="button"]:hover {text-decoration: none;}

.button-l {
    font-size: 18px;
    line-height: 21px;
}

.button-big {
    font-size: 16px;
    line-height: 24px;
}

.button-big:after {
    content: url("../images/arrow-right-white.png");
    margin-left: 12px;
}

.button-small {
    font-size: 14px;
    line-height: 16px;
}

.button-small--arrow:after {
    content: url("../images/arrow-right-green.png");
    margin-left: 12px;
    transform: translateY(2px);
}

.main-btn {
    width: 100%;
    max-width: 215px;
    height: 60px;
    background-color: #339E75;
    border-radius: 4px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}
.main-btn:after {content: url("../images/arrow-right-FFFFFF.svg"); margin: 0; transform: translateX(15px); transition: all 0.2s ease;}
.main-btn:hover {background-color: #3dbf8d; color: #fff; text-decoration: none;}
.main-btn:hover:after {transform: translateX(20px);}

.text-btn {font-family: 'Work Sans'; font-style: normal; font-weight: 600; text-transform: uppercase; color: #282B29; text-decoration: none; cursor: pointer; user-select: none;}
.text-btn:hover {text-decoration: none;}
.text-btn.green {color: #339E75;}
.text-btn.green:hover {opacity: 0.8;}


/* ICONS */
.icon-plus-green:before {content: ""; background: transparent url("../images/icon-plus.svg") no-repeat center; background-size: cover; display: inline-block; width: 24px; height: 24px; margin-right: 12px;}
.icon-trash:before {content: ""; background: transparent url("../images/icon-trash.svg") no-repeat center; background-size: cover; display: inline-block; width: 24px; height: 24px;}


/* EXTRA */

.quote-30,
.quote-s {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: normal;
    color: #282B29;
}

.quote-30 {
    font-size: 30px;
    line-height: 40px;
}

.quote-s {
    font-size: 18px;
    line-height: 28px;
}

.tabs-and-links {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #282B29;
}

.tags {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #282B29;
}

.tags:hover {
    color: #282B29;
}


/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    height: 105px;
    background-color: #FCF9F3;
}

.header--empty {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.header--empty .header__imgWrapp {
    display: flex;
}

.header--empty .header__imgBox {
    width: 150px;
    height: 45px;
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--empty .header__imgBox:last-child {
    margin-right: 0;
}

.header--empty .header__imgBox > img {
    font-size: 0;
    display: block;
    width: auto;
}

@media all and (max-width: 767px) {
    .header--empty {background-color: #377660;}
    .header--empty .header__imgBox {
        width: 80px;
        height: 35px;
    }
    .header--empty .header__imgBox > img {
        height: 20px;
    }
}

.header__col {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.header__col:last-child {
    margin-right: 0;
}

.header__logo {
    margin-right: 60px;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item {margin-right: 40px;}
.header__item:last-child {margin-right: 0;}

.header__link {
    font-size: 18px;
    line-height: 26px;
    color: #282B29;
    text-decoration: none;
    transition: all 0.2s;
}
.header__link:hover {text-decoration: none; color: #339E75;}

.header__item.active .header__link,
.header__link--active {
    font-weight: 600;
    color: #339E75;
}

.header__link--active:hover {
    color: #339E75;
}

.header__link--tel,
.header__link--start {
    width: 170px;
    height: 45px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
}

.header__link--tel {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #339E75;
    margin-right: 10px;
}
.header__link--tel:hover {color: #FFF; background-color: #3dbf8d;}

.header__link--start {
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    font-size: 14px;
    line-height: 16px;
    color: #282B29;
}
.header__link--start:hover {background-color: #fcfcfc; color: #282B29;}

.header__burger-wrapp {
    cursor: pointer;
    padding: 5px;
    display: none;
    margin-left: 15px;
}

@media screen and (max-width: 1260px) {
    .header__item {margin-right: 15px;}
}

@media screen and (max-width: 1180px) {
    .header__nav {
        display: none;
    }
    .header__burger-wrapp {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .header {padding: 0 25px; position: fixed; width: 100%; z-index: 9; top: 0; height: 90px;}
    .scrolled .header {height: 60px; box-shadow: 0 0 5px rgba(0,0,0,0.2);}
    .header__logo {margin-right: 20px;}
    .header__link {display: none;}
}

@media screen and (max-width: 390px) {
    .header--empty .header__imgBox:last-child {
        display: none;
    }
}

.mob-menu {position: fixed; overflow-y: auto; background-color: #FCF9F3; z-index: 11; top: 90px; bottom: 0; width: 100%; box-shadow: 0 0 0 rgba(0,0,0,0.1); opacity: 0; visibility: hidden; border-top: 1px solid #ddd;}
.mob-overlay {background-color: rgba(0,0,0,0.1); position: fixed; height: 100%; left: 0; top: 90px; width: 0; z-index: 10;}
.scrolled .mob-menu {top: 60px;}
.scrolled .mob-overlay {top: 60px;}
.nav-mob-opened {overflow: hidden; height: 100vh;}
.nav-mob-opened .navbar-mobile .mobile-inner {background-color: #fff;}
.nav-mob-opened .mob-menu {opacity: 1; visibility: visible;}
.mob-menu .navbar-nav {height: auto;}
.mob-menu .logo {width: 126px; background-image: url('../img/logo-noexam.png'); background-repeat: no-repeat; -webkit-background-size: 100%; background-size: 100%; height: 18px; max-width: 155px; position: relative; top: 2px; margin: auto;}
.mob-menu .phone {color: #9FD1DD; font-family: Poppins; font-size: 22px; font-weight: bold; line-height: 1; padding: 0; text-align: center;}
.mob-menu .nav {margin: 0 0 43px; padding-bottom: 33px; border-bottom: 1px solid	#EBEBEB;}
.mob-menu .nav > li {margin-bottom: 0; height: auto; padding: 0;}
.mob-menu .nav > li:last-child {margin: 0;}
.mob-menu .nav > li > a {display: inline-block; padding: 18px 20px; font-size: 22px; font-weight: 300; color: #999;}
.mob-menu .nav > li > a:after {display: none;}
.mob-menu .nav > li > a:hover,
.mob-menu .nav > li.active > a {color: #12ACE4;}
.mob-menu .navbar-nav {display: block; width: auto;}
.mob-menu .navbar-nav > li > .dropdown-menu {top: auto; border-radius: 0; border: 0; box-shadow: none; padding: 0;}
.mob-menu .navbar-nav > li > .dropdown-menu a {padding: 10px 15px 10px 36px; white-space: pre-wrap; line-height: normal; font-size: 20px}
.mob-menu .dropdown-menu > li > a.nav-btn {margin: 20px 20px 0; padding: 10px; font-size: 22px;}
.header__burger-wrapp .menu-btn {
    /*position: absolute;*/
    top: auto;
    left: 15px;
    display: block;
    vertical-align: middle;
    z-index: 999;
    width: 18px;
    height: 12px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.header__burger-wrapp .menu-btn span {
    display: block;
    position: absolute;
    height: 2px;
    background-color: #000;
    border-radius: 9px;
    opacity: 1;
    text-indent: -90px;
    overflow: hidden;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.header__burger-wrapp .menu-btn.black span {background-color: #282B29;}
.header__burger-wrapp .menu-btn.white span {background-color: #FEEEDA;}
.header__burger-wrapp .menu-btn span:nth-child(1) {top: 0; width: 50%; right: 0;}
.header__burger-wrapp .menu-btn span:nth-child(2) {top: 5px; width: 100%; left: 0;}
.header__burger-wrapp .menu-btn span:nth-child(3) {top: 10px; width: 50%; left: 0;}
.nav-mob-opened .header__burger-wrapp .menu-btn span {height: 3px;}
.nav-mob-opened .header__burger-wrapp .menu-btn span:nth-child(1) {top: 5px; width: 100%; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg);}
.nav-mob-opened .header__burger-wrapp .menu-btn span:nth-child(2) {opacity: 0; left: -30px;}
.nav-mob-opened .header__burger-wrapp .menu-btn span:nth-child(3) {top: 5px; width: 100%; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg);}
@media screen and (min-width: 768px){
    .mob-menu {display: flex; flex-flow: column; align-items: center; justify-content: center;}
    .mob-menu .nav > li {text-align: center;}
}
@media screen and (min-width: 1181px){
    .mob-menu,
    .mob-overlay {display: none;}
}
@media all and (max-width: 1180px){
    .header__item {margin-right: 0;}
}
@media all and (max-width: 767px){
    .my-quote .header--empty .header__burger-wrapp .menu-btn.black span {background-color: #FEEEDA;}

    .mob-menu {right: -91%; width: 86%; box-shadow: 0 0 0 rgba(0,0,0,0.1);}
    .nav-mob-opened .mob-overlay {width: 100%;}
    .nav-mob-opened .mob-menu {right: 0; box-shadow: 5px 30px 30px rgba(0,0,0,0.1);}
}


/* FOOTER */

.footer {min-height: 360px; background-color: #fff; padding: 70px 0 80px; width: 100%; margin: 0 auto;}
.footer .inner {max-width: 1140px; margin: 0 auto; padding: 0 15px;}
/*
.footer__col {margin-right: 20px;}
.footer__col:last-child {margin-right: 0;}
.footer__col:first-child {max-width: 472px;}
.footer__col:last-child {display: flex; justify-content: space-around; flex-grow: 1;}
.footer__box {display: flex; flex-direction: column;}
*/
.footer__logo {margin-bottom: 20px;}
.footer__paragraph {margin-bottom: 25px;}
.footer__icons {display: flex;}
.footer__icon {margin-right: 25px; cursor: pointer;}
.footer__icon:last-child {margin-right: 0;}
.footer__subtitle {margin-bottom: 25px;}
.footer__item {margin-bottom: 15px;}
.footer__item:last-child {margin-bottom: 0;}
.footer__link {text-decoration: none; transition: all 0.2s ease;}
.footer__link:hover {text-decoration: none; color: #339E75;}
.copyright {height: 80px; display: flex; justify-content: center; align-items: center; background-color: #FCF9F3;}
.copyright a {color: #282B29;}
.copyright a:hover {text-decoration: underline;}

@media screen and (max-width: 770px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__col {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 50px;
    }
    .footer__col:last-child {
        display: flex;
        justify-content: space-around;
    }
}


/* RADIO BTNS */

.main-radio-btn-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main-radio-btn {
    display: none;
}

.main-radio-btn-icon {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #BABABA;
    border-radius: 50%;
    margin-right: 15px;
}

.main-radio-btn:checked+.main-radio-btn-icon {
    border: 5px solid #339E75;
}


/* MY QUOTE STEPS */

.my-quote-steps {
    /*margin-top: -105px;*/
    padding: 35px 0;
}

.my-quote-steps__steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-quote-steps__steps-item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #E4E4E4;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
    font-size: 18px;
    line-height: 26px;
    color: #F8A846;
}

.my-quote-steps__steps-item--active {
    background-color: #F8A846;
    border-color: #F8A846;
    color: #FFFFFF;
}

.my-quote-steps__steps-item:last-child {
    /*margin-right: 0;*/
}

.my-quote-steps__decor-line {
    display: block;
    width: 100%;
    max-width: 450px;
    height: 2px;
    background-color: #E4E4E4;
}

.my-quote-steps__decor-line--active {
    background-color: #F8A846;
}


/* CARDS */

.card {
    border-radius: 4px;
    padding: 30px;
}

.card-red {
    background-color: #FEE2DA;
    color: #F87146;
}

.card-green {
    background-color: #D6ECE3;
    color: #339E75;
}

@media screen and (max-width: 1400px) {
    .my-quote-steps {
        margin-top: 70px;
    }
    .my-quote-steps__steps-item {
        flex-grow: 1;
    }
}
@media all and (max-width: 767px){
    .my-quote-steps {margin-top: 0; padding: 0;}
}

@media screen and (max-width: 1400px) {
    .card {
        padding: 20px;
        font-size: 14px;
        line-height: 24px;
    }
}


/* SELECTS */

.bootstrap-select>.dropdown-toggle {
    height: 55px;
    background-color: #ffffff;
    border: 1px solid #BABABA;
    border-radius: 4px;
}

.bootstrap-select .dropdown-toggle .filter-option {
    display: flex;
    align-items: center;
}

.dropdown-toggle::after {
    content: url("../images/arrow-down.png");
    border-top: none;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

body:not(.my-quote.quote-results) .header__imgWrapp {display: none;}
body.my-quote.quote-results header.header {/*background-color: #FCF9F3;*/}
body:not(.my-application) .header__help-wrapp {display: none;}

/*
.popover {background-color: #4A4A4A; color: #fff; font-size: 12px; border-color: #4a4a4a; border-radius: 8px; text-align: center; line-height: 1.2; max-width: 300px;}
.popover.bottom > .arrow:after {border-bottom-color: #4a4a4a;}
.popover.bottom > .arrow {display: none;}
.popover .close {background: transparent url(../images/icon_popover_close.svg) no-repeat center; width: 8px; height: 8px; float: right; opacity: 1; margin: 8px 10px;}
*/

/* RATES FORM SECTION  */
/*
.rates-form {padding-bottom: 100px;}
.rates-form__form {background: #FFFFFF; box-shadow: 1px 12px 42px rgba(155, 164, 162, 0.12); border-radius: 4px; padding: 40px;}
.rates-form__title {text-align: center; margin-bottom: 40px;}
.rates-form__row {display: flex; flex-wrap: wrap; margin-bottom: 40px;}
.rates-form__label {display: flex; flex-direction: column; margin-right: 20px;}
.rates-form__label>span,
.rates-form__label>label>span {color: #757575; margin-bottom: 10px;}
.rates-form__label:last-child {margin-right: 0;}
.rates-form__select {}
.rates-form__subtitle {margin-bottom: 15px;}
.rates-form__input {width: 230px; height: 55px; background: #FFFFFF; border: 1px solid #BABABA; border-radius: 4px; padding: 0 17px;}
.rates-form__input--invalid {background-color: #D6ECE3;border: 1px solid #377660;}
.rates-form__decor-line {height: 1px; background-color: #E4E4E4; margin-bottom: 30px;}
.rates-form__btn {margin: 0 auto;}
@media screen and (max-width: 767px) {
    .rates-form__row {flex-direction: column;}
    .rates-form__label {margin-right: 0; margin-bottom: 20px;}
    .rates-form__row--no-wrap {flex-direction: row; flex-wrap: nowrap;}
    .rates-form__row--no-wrap .rates-form__select {width: 85px !important; margin-right: 15px;}
    .rates-form__form {padding: 24px;}
    .rates-form__select--full-width {width: 100% !important;}
    .rates-form__select--half-width {width: 125px !important;}
    .rates-form__label--margin>.rates-form__select--half-width {margin-right: 15px !important;}
    .rates-form__row--no-column {flex-direction: row; flex-wrap: wrap;}
    .rates-form__label--full-width {width: 100%;}
    .rates-form__input {width: 100%;}
}
@media screen and (max-width: 420px) {
    .rates-form__row--no-wrap {flex-direction: column;}
}
*/
.input--invalid,
.input--invalid + button.dropdown-toggle {background-color: #d6ece3; border: 1px solid #377660;}
.checkbox-label > input.input--invalid + span {background-color: #d6ece3; border-color: #377660;}

.err-mess {color: #377660; text-align: center; margin-bottom: 15px;}

